/**
Pages in their hierarchy
app_layout
    Navbar
    Homepage
    Portfolio
    ContactUs
    CompanyPortfolio
    CompanyTeam

    Font: Courier New
    Background color: #e2e8f0
    Font-color: black
*/

.main {
    background-color: #e2e8f0;
    padding: 0;
    margin: 0 auto;
}

.navbar,
.main,
.footer {
    max-width: 1000px;
}

.navbar {
    padding-bottom: 4rem;
}

.homePage {
    /* padding-top: 4rem; */
}

#portfolio,
.card {
    width: 18rem;
}