/*Defining colors for use in website*/
:root {
  color-scheme: light dark;

  --light-background: #f0f0f0;
  /* Light background color */
  --light-primary: #636365;
  /* Light primary color */
  --light-secondary: #89939e;
  /* Light secondary color */
  --light-accent: #ffa62e;
  /* Light accent color */

  --dark-background: #1f1f21;
  /* Dark background color */
  --dark-primary: #ffffff;
  /* Dark text color */
  --dark-secondary: #5f6a78;
  /* Dark secondary color */
  --dark-accent: #e69200;
  /* Dark accent color */
}

/** {
  background-color: light-dark(var(--light-background), var(--dark-background));
  color: light-dark(var(--light-primary), var(--dark-primary));
}
*/
body {
  background-color: light-dark(var(--light-background), var(--dark-background));
  color: light-dark(var(--light-primary), var(--dark-primary));
  color: var(--light-primary);
  font-family: "Lato", sans-serif;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: var(--accent-color);
  /* Use light accent color for links */
}

.light {
  /* forces light color-scheme */
  color-scheme: light;
}

.dark {
  /* forces dark color-scheme */
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-background);
    /* Use dark background color */
    color: var(--dark-primary);
    /* Use dark text color */
  }

  a {
    color: var(--dark-accent);
    /* Use dark accent color for links in dark mode */
  }
}

/* BODY START */

/* NAVBAR START */
  
/* NAVBAR END */

/* HERO SECTION START */
.hero-section {
  background-image:     linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("/assets/img/hero-neon.jpg");
/*  width: 100%;*/
  height: 500px;
  border-radius: 20px 20px 0px 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px 25px;
  color: var(--dark-primary);
  margin-bottom: 50px;

  .hero {
    margin-left: 20px;
    margin-right:20px;
  }

  .hero-main-text {
    font-size: 48px;
    font-weight: 800;
    margin-top: 20px;
    padding-bottom: 100px;
  }

  .hero-text {
    position: relative;

    .text-paragraph {
      position: absolute;
      right: 0;
      width: 60%;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
/* HERO SECTION END */

/* ABOUT US SECTION START */
.about-us-section {
  margin: 10px 25px;

  .about-us-main {    
    .about-us-title {
      border-bottom: 1px solid;
      margin-bottom: 40px;

      .title {
        margin-left: 20px;
        font-size: 24px;
        font-weight: 500;
      }
    }

    .about-us-description {
      text-align: center;
      width: 70%;
      margin-left: auto;
      margin-right: auto;

      .description {
        font-size: 30px;
      }
    }
  }
}

/* ABOUT US SECTION END */

 @media (min-width: 319px) and (max-width: 480px) {

  /* HERO SECTION START */
  .hero-section {
    margin: 5px 10px;
    height: 500px;
   

    .hero-main-text {
      font-size:35px;
      text-align: center;
      padding-bottom: 15px;
    }

    .hero-text {
      position: relative;

      .text-paragraph {
        position: absolute;
        font-size: 20px;
        text-align: center;
        width: 100%;
      }
    }
  }
 }

/* tablets */
@media (min-width: 481px) and (max-width: 1200px) {
  .hero-section {
    height: 500px;

    .hero-main-text {
      font-size: 40px;
      font-weight: 800;
      margin-top: 20px;
      padding-bottom: 100px;
    }

    .hero-text {
      .text-paragraph {
        width: 100%;
      }
    }
  }
}

/* laptops */
@media (min-width: 319px) and (max-width: 480px) {
  
 }

/* desktops */
 @media (min-width: 1201px) and (max-width: 1600px) {}


/* RESPONSIVENESS */
/* Responsive adjustments */
@media (max-width: 767px) {
  .text-paragraph {
    position: static;
    /* Reset position for small screens */
    width: auto;
    /* Reset width for small screens */
    padding: 10px;
    /* Adjust padding for small screens */
  }
}


/* BODY END */