/**
Pages in their hierarchy
app_layout
    Navbar
    Homepage
    Portfolio
    ContactUs
    CompanyPortfolio
    CompanyTeam

    Font: Courier New
    Background color: #e2e8f0
    Font-color: black
*/

/*Defining colors for use in website*/
$primary: #636365;
$secondary: #89939e;
$accent: #ffa62e;

.main {
  //for dark theme
  // background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
  // background-blend-mode: multiply, multiply;
}

.Navbar {
  border-radius: 30px;
  background-color: white;
}

.homePage {
  border-radius: 30px;
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  padding: 30px;
  .container {
    color: $primary;

    #best-span {
      background-color: linear-gradient(
        90deg,
        rgba(99, 99, 101, 1) 0%,
        rgba(137, 147, 158, 1) 50%,
        rgba(255, 166, 46, 1) 100%
      );
    }
  }
}

.about {
  border-radius: 30px;
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  padding: 30px;
  .container .row {
  }
}

.portfolio {
  border-radius: 30px;
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  padding: 30px;

  .card-img-top {
    width: 30;
    height: fit-content;
  }
}

.team {
  border-radius: 30px;
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  padding: 30px;
}

.contact {
  border-radius: 30px;
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  padding: 30px;
}
/* check on how to arrange css files based on use! */
